.flexRow--box-geral-banners {
    /* max-width: 1252px;
    margin: 0 auto; */
    background-color: #FFFFFF;
}

.flexRowContent--box-geral-banners {
    max-width: 1252px;
    margin: 0 auto;
}


.flexColChild--box-col-banners_new-in {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;   
}

.flexColChild--box-col-banners_sale {
 margin-left: 10px;
}


.flexCol--box-col-banners_new-in {
    max-width: 616px;
    max-height:  559px;
}

.flexCol--box-col-banners_sale {
    max-width: 616px;
    max-height:  559px;
}



/* =========================== MOBILE */
@media (max-width: 640px) {

    .flexRow--box-geral-banners {
        display: flex;
        justify-content: center;
    }
.flexColChild--box-col-banners_new-in {
    margin-right: 0px;
}
.flexColChild--box-col-banners_sale {
    margin-left: 0px;
    margin-top: 20px;
}

}