@media (max-width: 1020px) {
    .paragraph--footer {
        text-align: center;
        margin: 0 auto;
        background-color: #ffff;
    } 


    @media (max-width: 640px) {

       .container--footer {
        background-color: #ffff;;
        justify-content: center;
       }
        .paragraph--footer {
           font-size: 11px; 
           width: 100%;
           padding: 20px 0px;
          display: flex;
          justify-content: center;
        }
    }
}
