.wrapper--dpts_ver_todos_mobile {
  font-size: 12px;
  margin-left: 25px;
  font-weight: bold;
  color: #25282A;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}


.wrapper--categs_ver_todos_mobile {
  font-size: 12px;
  margin-left: 25px;
  font-weight: bold;
  color: #8C8F90;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}