
.menuItem--items_todos-os-departamentos {
 position: relative;
}

.submenuWrapper--caixa-subdepartamenos { 
  background-color: #FFFFFF;
  width: 298px;
  height: 366px;
  top: -3px;
  left: -45px;
  border: none;
  box-shadow: 0px 13px 20px #0000000D;
  position: absolute;
  align-items: flex-start;
}


.styledLinkContent--depart-00x {
font-size: 14px;
color: #25282A;
}

.styledLinkContent--depart-00x:hover { 
  font-weight: bold;
  color: #441AFA;
}

.menuItem--depart-00x { 
position: relative;
}


.menuItem--depart-00x::after {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('assets/icons/seta-preta.png');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.menuItem--depart-00x:hover::after {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url('assets/icons/seta-azulOUroxa.png');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

/* ======================================================================   CATEGORIAS */

.submenuWrapper--caixa-de-categorias_depart-1 {
  background-color: #FFFFFF;
  width: 298px;
  height: 366px;
  top: -60px;
  left: 298px;
  border: none;
  box-shadow: 0px 13px 20px #0000000D;
  position: absolute;
  align-items: flex-start;
}

.submenuWrapper--caixa-de-categorias_depart-2 {
  background-color: #FFFFFF;
  width: 298px;
  height: 366px;
  top: -108px;
  left: 298px;
  border: none;
  box-shadow: 0px 13px 20px #0000000D;
  position: absolute;
  align-items: flex-start;
}