
.heading--title-h1 {
  color: #441AFA;
  font-size: 40px;
  letter-spacing: 12px;
  text-transform: uppercase;
  position: relative;
  margin-top: 70px;
    margin-left: 27px;
}



.wrapper--sobre-h2 {
    width: 474px;
    color: #B1B3B3; 
    font-size: 12px;
}


.wrapper--button-about {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    width: 251px;
    height: 48px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    cursor: pointer;
    position: relative;
}

.wrapper--button-about::after {
    content: '→';
    font-size: 20px;
    position:absolute;
    right: 50px;
    bottom: 15px;
}

/* ============================MOBILE */

@media (max-width: 640px) {
  .container--title-h1 {
    display: flex;
    justify-content: center;
  }
  .heading--title-h1 {
    color: #441AFA;
    font-size: 32px;
    margin-top: 40px;
    margin-left: 0px;
    letter-spacing: 9.6px;
  }
  .container--sobre-h2 {
    display: flex;
    justify-content: center;
  }
  .wrapper--sobre-h2 {
    width: 364px;
    color: #000000; 
    font-size: 16px;
}

.wrapper--button-about {
  margin-top: 35px;
  margin-bottom: 50px;
  margin-right: 110px;
}
.container--button-about {
  display: flex;
  justify-content: center;
}
}
