
.flexRow--informacao-row__home {
    max-width: 1252px;
    margin: 0 auto;
    background-color: #EEEEEE;
    height: 69px;
    margin-top: 13px;
}

.flexCol--wrapper__col-info-home {
    flex-direction: row;
}



.flexCol--sub_coluna {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}


/* =========================================== MOBILE */


@media (max-width: 640px) {
    .flexCol--__col-info-home__mobile {
       justify-content: center;
       height: 62px;
    }

    .flexColChild--__col-info-home__mobile {
        display: flex;
        align-items: center;
    }
}
