.flexRow--box_geral_vitrine {
    max-width: 1252px;
    margin: 0 auto 100px;
}

.flexRow--box_geral_vitrine :global(.vtex-store-components-3-x-container) {
    background-color: #FFFFFF;
}


/* ============================================== */

.flexRow--box_quantity_button :global(.vtex-button) {
    border: none;
    border-radius: 0px;
    font-size: 12px;
}

.flexRow--box_quantity_button :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin-left: 5px;
}

/* --------------- */

.flexRow--box_quantity_button .flexRowContent {
    background-color: #FFFFFF;
}


.flexRow--box_quantity_button :global(.vtex-button) {
    background-color: #441AFA;
    border: none;
    position: relative;
}



.flexRow--box_quantity_button :global(.vtex-product-summary-2-x-buyButtonText) {
    font-size: 7px;
    opacity: 0;
}


.flexRow--box_quantity_button :global(.vtex-numeric-stepper__input) {
    color: #989898;
    width: 40px;
    height: 40px;
    border: none;
    border-top: solid 1px #E6E6E6;
    border-bottom: solid 1px #E6E6E6;
}

/* ====================== MOBILE */


@media (max-width: 640px) {
    .flexRow--box_quantity_button :global(.vtex-product-summary-2-x-buyButtonContainer) {
        width: 87px;
        margin-left: 5px;
    }

    .flexRow--box_quantity_button :global(.vtex-button)::before {
        left: 13%;
    }

    .flexRow--box_quantity_button :global(.vtex-numeric-stepper__input) {
        max-width: 12px;
        font-size: 16px;
    }

    .flexRowContent--box_quantity_button {
        width: 130px;
        display: flex;
    }

    .flexRow--box_quantity_button {
        background-color: #FFFFFF;
    }

    .flexRow--box_quantity_button :global(.vtex-button) {
        max-width: 80px;
    }

}

@media (max-width: 430px) { 

    .flexRow--box_quantity_button :global(.vtex-button) {
       width: 65px;
     }

     .flexRow--box_quantity_button :global(.vtex-add-to-cart-button-0-x-buttonText) {
        font-size: 11px;
     }

   .flexRow--box_quantity_button :global(.vtex-numeric-stepper__input) {
        margin-left: 5px;
    }

    .flexRow--box_quantity_button :global(.vtex-numeric-stepper__minus-button-container) {
        width: 20px;
    }

    .flexRow--box_quantity_button :global(.vtex-numeric-stepper__plus-button) {
        width: 25px !important;
    }

    .flexRow--box_quantity_button :global(.vtex-numeric-stepper__plus-button__text) {
        font-size: 20px !important;
        font-weight: bold !important;
    }

    .flexRow--box_quantity_button :global(.vtex-numeric-stepper__minus-button) {
        width: 25px !important;
    }

    .flexRow--box_quantity_button :global(.vtex-numeric-stepper__minus-button__text) {
        font-size: 20px !important;
        font-weight: bold !important;
    }
}