.flexRow--box-about {
    background-color: #f6f6f6;
    max-width: 1920px;
    margin: 80px auto;
    border: solid 1px #ebebeb;
}


.flexColChild--box-col-about {
    margin-left: -130px;
}


/* ======================================== MOBILE */

@media (max-width: 640px) {
    .flexRow--box-about {
        margin: 45px auto;
    }
    .flexColChild--box-col-about {
        margin-left: 0px;
    }
}




