.sliderLayoutContainer--slider-container {
     margin-bottom: 80px;
     max-width: 1252px;
     margin: 0 auto;
}

.caretIcon--slider-container {
     margin-bottom: 30px;
     margin-left: -30px;
     margin-right: -30px;
     color: #B1B3B3;
}

