


@media (max-width: 1020px) { 
    
    /* .flexColChild--payment-methods .stretchChildrenWidth {
        display: flex;
        flex-direction: row;
        background-color: blue;
    } */

    .flexColChild--payment-methods {
        flex-direction: row;

    }

  .flexRow--box-social .stretchChildrenWidth {
        justify-content: center;
      }
    }