
@media (max-width: 1025px) {
   
    .autoCompleteOuterContainer {
        max-width: 871px;
        height: 48px;
    }
    .searchBarIcon--search::after {
        content: '';
        background-color: #441AFA;
        width: 44px;
        height: 48px;
        right: 0;
        position: absolute;
    }
}

@media (max-width: 640px) { 
    .autoCompleteOuterContainer {
        max-width: 371px;
        height: 48px;
    }
}


@media (max-width: 405px) { 
    .autoCompleteOuterContainer {
        max-width: 270px;
        height: 48px;
    }
}


@media (max-width: 360px)  {
    .logoImage{
        margin-left: 17px;
        }
}