.flexRow--box_geral_vitrine {
    max-width: 1252px;
 margin: 0 auto;
}

.flexRow--box_geral_vitrine :global(.vtex-store-components-3-x-container) { 
    background-color: #FFFFFF;
}


/* ============================================== */
