.sellingPriceValue {
    color: #441AFA;
    font-size: 20px;
    font-weight: bold;
}

.installmentsPrice {
    display: flex;
    justify-content: flex-start;
    color: #25282A;
    font-size: 12px;
}




.sellingPriceContainer {
    display: flex;
   justify-content: flex-start;
   margin: 0;
}

.productPriceClass {
    position: relative;
}

.discountInsideContainer {
    background-color: #25282A;
    position: absolute;
    top: 427px;
    right: 110px;
    
}

/* ================  MOBILE */

@media (max-width: 640px) {

    .sellingPriceContainer {
        display: flex;
       justify-content: flex-start;
    }
    .sellingPriceValue {
        font-size: 20px;
        font-weight: bold;
    }    
  .installmentsPrice {
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: start;
  }
  .discountInsideContainer {
    bottom: 0px;
    right: 0px;
    display: none;
}
   
}