 .element{
   position: relative; 

}
.element::after {
content: 'novidade';
background-color: #441AFA;
font-size: 10px;
color: white;
padding: 7px;
top: 5px;
position: absolute;
letter-spacing: 1px;
text-transform: uppercase;
z-index: 100;
}

.element::before {
  content: 'inovação';
  background-color: #25282A;
  font-size: 10px;
  color: white;
  padding: 7px;
  top: 40px;
  position: absolute;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 100;
  }


  .brandName {
    color: #25282A;
    text-transform: uppercase;
  }

  .nameContainer {
    display: flex;
    justify-content: flex-start;
  }

  .priceContainer {
    display: flex;
    justify-content: flex-start;
    padding-right: 140px;
  }

.listPriceContainer {
  display: flex;
  justify-content: flex-start;
}

.imageWrapper {
  position: relative;
}

.imageWrapper::after {
 content: '';
 background-image: url('assets/icons/blueHeart.svg');
 background-size: cover;
 background-repeat: no-repeat;
 top: 0;
 right:0px;
 width: 20px;
 height: 19px;
 z-index: 9999;
 position: absolute;
}