 .element{
   position: relative; 
   margin: 7px;
}
.element::after {
content: 'novidade';
background-color: #441AFA;
font-size: 10px;
color: white;
padding: 7px;
top: 5px;
position: absolute;
letter-spacing: 1px;
text-transform: uppercase;
z-index: 100;
}

.element::before {
  content: 'inovação';
  background-color: #25282A;
  font-size: 10px;
  color: white;
  padding: 7px;
  top: 40px;
  position: absolute;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 100;
  }


  .brandName {
    font-size: 14px;
    text-align: start;
    color: #25282A;
    text-transform: uppercase;
  }

  .nameContainer {
    display: flex;
    justify-content: flex-start;
    text-align: start;
  }

  .priceContainer {
    display: flex;
    align-items: flex-start;
    padding-right: 0px;
  }

.listPriceContainer {
  display: flex;
  justify-content: flex-start;
}

.imageWrapper {
  position: relative;
}

.imageWrapper::after {
 content: '';
 background-image: url('assets/icons/blueHeart.svg');
 background-size: cover;
 background-repeat: no-repeat;
 top: 0;
 right:0px;
 width: 20px;
 height: 19px;
 z-index: 9999;
 position: absolute;
}

/* =======================================MOBILE */

@media (max-width: 640px) {
  .element::after {
    content: 'novidade';
    top: 50px;
    }
    .element::before {
      content: 'inovação';
      top: 85px;
    }  

    .imageWrapper::after {
      top: 40px;
     }
}













@media (max-width: 390px) {
  .element::after {
    content: 'novidade';
    font-size: 7px;
    top: 70px;
    }
    .element::before {
      content: 'inovação';
      font-size: 7px;
      top: 100px;
    }  

    .imageWrapper::after {
      top: 60px;
     }
}