.menuContainer {
    background-color: #EEEEEE;
   margin: 0 auto;
   max-width: 1252px;
}

.styledLinkContainer--items_top-menu {
    padding-top: 13px;
}

.styledLinkContent--items_top-menu {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.menuItem--departamento_e_outros {
    margin-left: 30px;
}

.menuItem--items_todos-os-departamentos {
    background-color: #441AFA;
    padding-left: 45px;
    padding-right: 15px;
    justify-content: start;
    position: relative;
}

.menuItem--items_todos-os-departamentos::after {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('assets/icons/hamburguer-branco.png');
    background-size: auto;
    background-repeat: no-repeat;
    left: 40px;
    top: 13px;
    position: absolute;
}
.styledLinkContent--items_todos-os-departamentos{
    color: #FFFFFF;
    font-weight: bold;
}

.styledLinkContent--item_depart-1,
.styledLinkContent--item_depart-2 {
    color: #25282A;
    font-weight: 400;
}

.styledLinkContent--item_novidades {
    color: #25282A;
    font-weight: bold;
}

.styledLinkContent--item_outlet { 
    color: #441AFA;
    font-weight: bold;
}


/* ===============================   CAIXA DEPARTAMENTO */

.submenuWrapper--departamento-1-da-barra,
.submenuWrapper--departamento-2-da-barra {
    background-color: #FFFFFF;
    width: 265px;
    height: 366px;
    top: -3px;
    left: -5px;
    border: none;
    box-shadow: 0px 13px 20px #0000000D;
    position: absolute;
    align-items: flex-start;
}


.menuItem--categoria_2_do_depart-1-da-barra--isOpen .styledLinkContent--todos_depart-da-barra {
    font-weight: bold;
    color: #441AFA;
  }
  .menuItem--categoria_2_do_depart-1-da-barra--isOpen {
    background-color: #EEEEEE;
  }

 

