.menuContainer {
    background-color: #EEEEEE;
   margin: 0 auto;
   max-width: 1252px;
}

.styledLinkContainer--items_top-menu {
    padding-top: 13px;
}

.styledLinkContent--items_top-menu {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.2px;
}

.menuItem--departamento_e_outros {
    margin-left: 30px;
}

.menuItem--items_todos-os-departamentos {
    background-color: #441AFA;
    padding-left: 45px;
    padding-right: 15px;
    justify-content: start;
    position: relative;
}

.menuItem--items_todos-os-departamentos::after {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url('assets/icons/hamburguer-branco.png');
    background-size: auto;
    background-repeat: no-repeat;
    left: 40px;
    top: 13px;
    position: absolute;
}
.styledLinkContent--items_todos-os-departamentos{
    color: #FFFFFF;
    font-weight: bold;
}

.styledLinkContent--item_depart-1,
.styledLinkContent--item_depart-2 {
    color: #25282A;
    font-weight: 400;
}

.styledLinkContent--item_novidades {
    color: #25282A;
    font-weight: bold;
}

.styledLinkContent--item_outlet { 
    color: #441AFA;
    font-weight: bold;
}





