.caretIcon--box__container_geral_products_slider {
    color: #B1B3B3;
}

.sliderRightArrow--box__container_geral_products_slider{
    margin-right: 30px;
}

.sliderLeftArrow--box__container_geral_products_slider {
margin-left: 30px;
}