.container {
   position: relative;
   z-index: 0;
}

.label {
    opacity: 0;
    z-index: 10;
}

.container::after {
    content: '';
    background-image: url('assets/icons/user-icon.png');
    background-size: auto;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    right: 50%;
    top: -50;
    transform: translateY(50%);
    transform: translateX(50%);
    position: absolute;
}

.formTitle {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

}

.accessCodeOptionBtn button { 
    background-color: #FFFFFF;
    border-radius: 0;
    width: 267px;
    height: 48px;
}

.accessCodeOptionBtn button span {
    font-weight: bold;
    font-size: 15px;
    color: #441AFA;
    text-transform: none;
}

.accessCodeOptionBtn button {
    border: solid 1px #B1B3B3;
}



.emailPasswordOptionBtn button { 
    background-color: #FFFFFF;
    border-radius: 0;
    width: 267px;
    height: 48px;
}


.emailPasswordOptionBtn span {
    font-weight: bold;
    font-size: 15px;
    color: #441AFA;
    text-transform: none;
}


.buttonSocial button{
    background-color: #FFFFFF;
    border-radius: 0;
    width: 267px;
    height: 48px;
}

.buttonSocial span {
    font-weight: bold;
    font-size: 15px;
    color: #441AFA;
    text-transform: none;
}




