.searchIcon {
    opacity: 1;
}

.autoCompleteOuterContainer {
    position: relative;
    margin-right: -35px;
}


.searchIcon {
    opacity: 0;
}

.searchBarIcon--search::after {
    content: '';
    background-color: #441AFA;
    width: 45px;
    height: 35px;
    right: 0;
    position: absolute;
}

.searchBarIcon--search::before {
    content: '';
    background-image: url('assets/icons/search.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    right: 12px;
    position: absolute;
    z-index: 3;
}


.logoImage {
    display: flex;
    justify-content: start;
}



/* ============ INPUT */

.searchBarContainer {
    margin-top: 5px;
}