@media (max-width: 640px) {

.container--_title_::before {
        content: '';
        width: 308px;
        height: 358px;
        background-image: url('assets/imgs/logos/logo-transparente.png');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        top: 0px;
        left: -63px;
        position: absolute;
        display: none; 
    }
    
}