@media (max-width: 1020px) { 
    
 
    .flexColChild--payment-methods {
        flex-direction: row;

    }

  .flexRow--box-social .stretchChildrenWidth {
        justify-content: center;
      }
    }


@media (max-width:640px) {

  .flexRowContent--box-social {
      display: flex;
  }
 .flexRow--box-social .stretchChildrenWidth {
  display: flex;
   padding: 0;
}
}


