/*  ----------- CONTAINER ROW TOP */
.flexRow {
    position: relative;
}

.stretchChildrenWidth :global(.vtex-breadcrumb-1-x-homeIcon) {
    width: 16px;
    height: 16px;
}

.stretchChildrenWidth :global(.vtex-breadcrumb-1-x-container) {
    background-color: #FFFFFF;
    max-width: 1252px;
    font-size: 12px;
    z-index: 500;
}

.stretchChildrenWidth :global(.vtex-breadcrumb-1-x-container)::after {
    background-color: #FFFFFF;
    content: '';
    width: 100%;
    height: 38.8px;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -100;
}

/* -------------------------------------------------------------------------------------- */


/*  -----------  CONTAINER TOP*/
.flexRow--product-main {
    background-color: #FFFFFF !important;
}

.flexRowContent--product-main {
    margin: 0 auto;
    max-width: 1252px;
}

/* -------------------------------------------------------------------------------------- */


/*  ----------- CONTAINER TOP COL LEFT */
.stretchChildrenWidth :global(.vtex-store-components-3-x-productImagesThumb) {
    max-width: 86px;
    max-height: 86px;
}

/* -------------------------------------------------------------------------------------- */


/*  ----------- CONTAINER TOP COL CENTER */
.stretchChildrenWidth :global(.vtex-store-components-3-x-productImage) {
    max-width: 563px;
    max-height: 563px;
}

.stretchChildrenWidth :global(.vtex-store-components-3-x-swiper-pagination) {
    bottom: 0px;
}

.stretchChildrenWidth :global(.vtex-store-components-3-x-swiperBullet--active) {
    background-color: #25282A;
}

.stretchChildrenWidth :global(.vtex-store-components-3-x-swiperCaretPrev),
.stretchChildrenWidth :global(.vtex-store-components-3-x-swiperCaretNext) {
    color: #B1B3B3;
}

.stretchChildrenWidth :global(.vtex-store-components-3-x-carouselCursorDefault) {
    opacity: 10%;
}

/* -------------------------------------------------------------------------------------- */



/*  ----------- CONTAINER TOP COL RIGHT */
.flexRowContent--product-main :global(.vtex-store-components-3-x-productBrand) {
    color: #25282A;
    font-size: 16px;
    margin-left: 4px;
    font-weight: bold;
    text-transform: uppercase;
}

.flexRowContent--product-main :global(.vtex-store-components-3-x-sellingPrice) {
    color: #441AFA;
    font-size: 24px;
    margin-top: 3px;
    margin-bottom: 7px;

}

.flexRowContent--product-main :global(.vtex-store-components-3-x-sellingPriceContainer) {
    margin-bottom: 6px;
}

.flexRowContent--product-main :global(.vtex-store-components-3-x-installmentsPrice) {
    margin-bottom: 15px;
    font-size: 14px;
    margin-left: 4px;
    align-items: center;
}

.flexRowContent--product-main :global(.vtex-store-components-3-x-price_installment) {
    color: #25282A;
    font-weight: bold;
}

.flexRowContent--product-main :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 30px;
}

.flexRowContent--product-main :global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
    color: #25282A;
    font-size: 13px;
    margin-bottom: 0;
    margin-right: 16px;
    margin-left: 4px;
    position: relative;
}

.flexRowContent--product-main :global(.vtex-product-quantity-1-x-quantitySelectorTitle)::after {
    content: ':';
    right: -4px;
    position: absolute;
}

.flexRowContent--product-main :global(.vtex-numeric-stepper-container) {
    align-items: center;
}

.flexRowContent--product-main :global(.vtex-numeric-stepper__input) {
    width: 12px;
    height: 40px;
    font-size: 14px;
    border-left: none;
    border-right: none;
    border-top: solid 1px #EEEEEE;
    border-bottom: solid 1px #EEEEEE;
}

.flexRowContent--product-main :global(.vtex-numeric-stepper__plus-button-container) {
    border: solid 1px #EEEEEE;
    border: none;
}

.flexRowContent--product-main :global(.vtex-numeric-stepper__minus-button__text):first-child,
.flexRowContent--product-main :global(.vtex-numeric-stepper__plus-button__text):first-child {
    color: #25282A;
    font-size: 20px;
    font-weight: bold;
}

.flexRowContent--product-main :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background-color: #FFFFFF;
    justify-content: start;
}

.flexRowContent--product-main :global(.vtex-button) {
    background-color: #441AFA;
    max-width: 350px;
    height: 48px;
    border: none;
    border-radius: 0px;
}

.flexRowContent--product-main :global(.vtex-button__label) {
    position: relative;
}

.flexRowContent--product-main :global(.vtex-add-to-cart-button-0-x-buttonText)::after {
    content: 'comprar';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #441AFA;
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    letter-spacing: 1.6px;
    position: absolute;
}


.flexRowContent--product-main :global(.vtex-button__label) {
    background-color: #25282A;
    color: white;
    letter-spacing: 1.2px;
}


.flexRowContent--product-main :global(.vtex-input__label) {
    position: relative;
}

.flexRowContent--product-main :global(.vtex-input__label)::after {
    content: 'frete e prazo de entrega:';
    background-color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    left: 0px;
    position: absolute;
}

.flexRowContent--product-main :global(.vtex-address-form__postalCode-forgottenURL) {
    color: #25282A !important;
    font-size: 12px;
    text-decoration: underline;
}

.flexRowContent--product-main :global(.vtex__icon-external-link) {
    display: none;
}

.flexRowContent--product-main :global(.vtex-store-components-3-x-shippingTable),
.flexRowContent--product-main :global(.vtex-input-prefix__group),
.flexRowContent--product-main :global(.vtex-address-form-4-x-input) {
    max-width: 350px;
    border-radius: 0px;
    border: none;
}
/* ----------------------------- MEDIA ----------------- */
@media (max-width: 640px) {
    .flexRowContent--product-main :global(.vtex-store-components-3-x-shippingTable),
    .flexRowContent--product-main :global(.vtex-input-prefix__group),
    .flexRowContent--product-main :global(.vtex-address-form-4-x-input) {
        max-width: 100%;
    }
    .flexRowContent--product-main :global(.vtex-button) {
        max-width: 100%;
     }
}
/* ------------------------------------------------------------ */
.flexRowContent--product-main :global(.vtex-input-prefix__group) {
    border: 1px solid #EEEEEE;
}

.flexRowContent--product-main :global(.vtex-store-components-3-x-shippingTableCell) {
    color: #25282A;
    font-size: 12px;
}

.flexRowContent--product-main :global(.vtex-store-components-3-x-shippingTableCellDeliveryPrice) {
    font-weight: bold;
}

/* -------------------------------------------------------------------------------------------- */
/* -------------------------- CONTAINER CENTER--- */


.flexRow--container--center {
    background-color: #FFFFFF !important;
}

.flexRowContent--container--center {
    margin: 0 auto;
    max-width: 1252px;
}

.flexRow--box_description {
    margin-top: 80px;
    margin-bottom: 30px;
}

.flexRowContent--box_specification {
    margin-bottom: 100px;
}

.flexRowContent--box_description :global(.vtex-store-components-3-x-productDescriptionTitle) {
    color: #441AFA;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.flexRowContent--box_description :global(.vtex-store-components-3-x-productDescriptionText) {
    color: #25282A;
    font-size: 14px;
}


.flexRowContent--box_specification .stretchChildrenWidth {
    flex-direction: column;
    color: #441AFA;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.6px;
    text-transform: uppercase;

}

.flexRowContent--box_specification .stretchChildrenWidth {
    background-color: #FFFFFF;
}

.flexRowContent--box_specification :global(.vtex-flex-layout-0-x-flexColChild--productSpecificationName) {
    color: #1f1f1f;
    font-size: 14px;
    font-weight: bold;
    margin-top: 18px;
}

.flexRowContent--box_specification :global(.vtex-flex-layout-0-x-flexColChild--productSpecificationValue) {
    color: #25282A;
    margin-top: 18px;
    font-weight: normal;
}