.flexRow--wrapper__top-bar {
    background-color: #25282A !important;
    height: 32px;
}

.flexRowContent--wrapper__top-bar {
    max-width: 1252px;
    margin: 0 auto;
}

.flexCol--wrapper__col {
    flex-direction: row;
}


.flexCol--wrapper__col-right {
    display: flex;
    justify-content: end;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.flexRow {
    background-color: #EEEEEE;
}

.flexRowContent--flexCol--header__col {
    max-width: 1252px;
    margin: 0 auto;
    background-color: #EEEEEE;
}


.flexCol--header__col {
    flex-direction: row;
}


.flexColChild--header__col-right {
    display: flex;
    align-items: center;
    justify-content: end;
}

.flexCol--header__col-center {
    justify-content: center;
    margin-right: 160px;
}

.flexColChild--header__col-center :global(.vtex-input-prefix__group) {
    height: 40px;
        border-radius: 0;
        border: none;
}


.flexCol--header__col-left {
    justify-content: start;
}


/* ====================================== LOGO HEADER */