.flexRow--box-banner-final {
    background-color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 80px;
}

@media (max-width: 640px) {
    .flexRow--box-banner-final {
    margin-top: 0px;
        margin-bottom: 0px;
    }
}